#!/usr/bin/env bash
# @see https://direnv.net

# Load parent environment
source_up

# Install the pre-commit hooks
[ -f .git/hooks/pre-commit ] || pre-commit install

# Load in static env vars
for i in .env.d/*.env; do
  [ -f "$i" ] || continue
  dotenv "$i"
done

for i in .env.d/*.example; do
  [ -f "$i" ] || continue
  # Copy examples as .secret
  j="${i/.example/.secret}"
  [ -f "$j" ] || cp "$i" "$j"
  dotenv "$j"
done

# Load in application specific env vars
[ -f .env ] || cp .env.example .env
dotenv .env
